body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.dashboard-div {
    width: 100%;
    margin-top: 4.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.dashboard-side-bar{
    width: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #94B397;
    margin-top: 3rem;
}

.dashboard-side-bar ul img {
    margin: 2rem;
    Width: 66.67px;
    Height: 46.67px;
}

.dashboard-side-bar ul img:hover {
    border-right: 6px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:focus {
    border-right: 8px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:active {
    border-right: 8px solid #17C270;
    color: #17C270;
}
.dashboard-side-bar ul img:target {
    border-right: 8px solid #17C270;
    color: #17C270;
}

.welcome-message-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4rem 0 0 2rem;
}
.welcome-message {
    font: bold normal 40px/70px Roboto;
    color: #272D4E;
}
.welcome-message-div h2 {
    font: normal normal 25px/30px Roboto;
    color: #94B397;
    position: relative;
    top: -5.3rem;
}

.farmers-board-column {
    display: flex;
    flex-direction: column;
    width: 88%;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    margin: -22rem 0 26rem 8rem;
}

.farmers-board-column:last-child {
    margin-bottom: 4rem;
}

.farmers-board-column h2 {
    margin: 4rem 0 0 2rem;
    font: bold normal 40px/30px Roboto;
    color: #94B397;
    text-align: left;
}

.farmers-board-column .profile-image {
    float: right;
    margin: -4rem 2rem 0 0;
    text-align: right;
}

.farmers-board-column .profile-image img {
    width: 255px;
    height: 255px;
    border-radius: 40px;
}
.bio-data-entry-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 1rem 1.5rem 1.1rem;
}

.farmer-bio-data-div {
    display: flex;
    flex-direction: column;
}

.farmer-data-entries-div {
    margin: 2rem 0 2rem 1rem;
    text-align: left;
}

.farmer-data-entries-div h3 {
    margin-top: -0.6rem;
    text-align: left;
    font: bold normal 22px/30px Roboto;
    color: #6C6B6B;
}

.farmer-data-entries-div h6 {
    font: normal normal 22px/28px Roboto;
    color: #6C6B6B;
}

.edit {
    display: flex;
    width: 200px;
    float: right;
    text-align: center;
    background: #8D9189;
    border-radius: 60px;
    margin: 0 2.5rem 2.5rem;
    font: normal normal 22px/21px Roboto;
    color: #FFFFFF;
}

.farmers-board-column .farm-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -4rem 2rem 0 2rem;
    text-align: right;
}

.farmers-board-column .profile-image img {
    width: 264px;
    height: 255px;
    border-radius: 20px;
}

.income-board-div {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    margin: 14rem 0 1rem -12rem;
    text-align: center;
}

.total-income-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 2rem;
    margin: 0 1rem;
}

.total-income-div h6 {
    width: 180px;
    font: normal normal 20px/10px Roboto;
    color: #94B397;
}

.total-income-div h3 {
    font: bold normal 35px/30px Roboto;
    color: #000;
}

.total-income-div h5 {
    font: bold normal 18px/70px Roboto;
}

.total-income-h6,
.total-profit-h6 {
    color: #0EEA24;
}

.total-deposit-h6 {
    color: #EA420E;
}

.user-data-div {
    width: 45.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    margin: 14rem 1.5rem 2rem;
}
.dashboard-profile-img-div {
    width: 150px;
    height: 150px;
    align-self: center;
    border-radius: 50%;
    background-color: #DFDADA;
    margin-top: 4rem;
    background-image: url('../Assets/profile-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.dashboard-profile-details-div {
    margin-top: -1rem;
}

.dashboard-profile-details-div h2 {
    font: normal normal 22px/30px Roboto;
    color: #94B397;
    margin-bottom: -2rem;
}

.dashboard-profile-details-div .name {
    font: bolder normal 44px/50px Roboto;
    color: #000;
    margin-bottom: -2rem;
}
.dashboard-profile-details-div .name,
.dashboard-profile-details-div .track {
    text-transform: capitalize;
}
.dashboard-profile-details-div .track {
    margin-bottom: 2rem;
}

.total-profit-chart-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 1rem 0 -12rem;
}

.profit-chart-div {
    width: 38%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    font: normal normal 22px/30px Roboto;
    margin-right: -2rem;
}
.income-chart-texts h6 {
    font: normal normal 20px/110.19% Roboto;
    color: #94B397;
    margin-bottom: -0.6rem;
}

.income-chart-texts h3 {
    font: bold normal 35px/110.19% Roboto;
    color: #000;
    margin-bottom: 1rem;
}

.income-chart-texts h5 {
    font: bold normal 18px/110.19% Roboto;
}
.income-chart-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2.5rem 0 -2rem 2rem;
    text-align: left;
}
.income-chart-img {
    margin-bottom: 2rem;
}

.dashboard-earnings-details-div {
    display: flex;
    flex-direction: row;
    width: 58%;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    font: normal normal 22px/30px Roboto;
}

.earnings-chart-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 0.5rem;
}

.earnings-chart-details h2 {
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    color: #0B0C0C;
    font: bold normal 30px/110.19% Roboto;
}

.earnings-chart-details ul {
    margin-top: -1rem;
}

.earnings-chart-details ul li {
    font: bold normal 25px/110.19% Roboto;
    color: #94B397;
    list-style-image: url('../Assets/Ellipse-39.png');
    padding-bottom: 1rem;
    margin-left: 2.2rem;
}

.profile-barchart {
    width: 25%;
    margin: 20% 2rem;
}

.profile-barchart img {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .info {
        margin-bottom: 1rem;
    }
    p {
        font: normal bolder 10px/110.19% Arial;
    }
}