body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #E5FFEE;
}

.main-navigation-div {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 70px;
    left: 0px;
    z-index: +1;
    background-color: #E5FFEE;
}

.navigation-bar-logo {
    position: absolute;
    width: 65px;
    height: 53px;
    left: 90px;
    top: 15.56%;
}

.navigation-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.navigation-bar-ul a {
    font: normal 500 18px/21px Roboto;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #272D4E;
    margin: 1.5rem 2rem 0 0;
}

.navigation-bar-ul li:first-child {
    margin-left: 12rem;
}
.navigation-bar-ul li:last-child {
    margin: 1.5rem 2rem 0 0;
}
.navigation-bar-log-in {
    padding-left: 8rem;
}

.get-started-button {
    width: 107px;
    height: 40px;
    border: none;
    background: #70C217;
    color: #FFF;
    border-radius: 5px;
    margin: -0.5rem 0rem 0rem 0rem;
    cursor: pointer;
}

.navigation-search-bar {
    width: 18px;
    height: 18px;
}

.navigation-bar-logo-li:hover,
.navigation-bar-ul a:hover,
.get-started-button:hover {
    color: #8a390b;
    opacity: 0.9;
}

.profile-img-span {
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 50%;
    background-color: #DFDADA;
    background-image: url('../Assets/profile-avatar.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1rem;
}


/* Mobile Styles */
@media only screen and (max-width: 768px) {
    .main-navigation-div {
        background: #E5E5E5;
        background: linear-gradient(180deg, #E5FFEE 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(249, 249, 249, 0) 100%);
        position: fixed;
        top: 0%;
        width: 100%;
        height: 80px;
        left: 0px;
        z-index: +1;
    }
    .navigation-bar-logo {
        width: 65px;
        height: 53px;
        left: 3rem;
        top: 1rem;
    }
    .navigation-bar-ul {
        list-style: none;
        margin-top: 0px;
        margin-right: 0px;
    }

    .navigation-bar-ul a {
        margin: 1.5rem 2rem 0 2rem;
    }

    .navigation-bar ul li {
        margin: 3rem 2rem;
    }
    
    .navigation-bar-ul li:first-child {
        margin-top: 4rem;
        margin-left: 0;
    }
    
    .navigation-bar-ul li:last-child {
        margin: 0 0 1rem 0;
        text-align: flex-start;
        align-self: left;
    }
    .navigation-bar-ul li span {
        margin-top: 1rem;
    }

    .navigation-bar-log-in {
        padding-left: 0rem;
        text-align: left;
    }
    .navigation-bar-ul a {
        font: normal 500 18px/21px Roboto;
        display: flex;
        align-items: flex-start;
        text-decoration: none;
        color: #272D4E;
        display: flex;
        flex-direction: column;
    }
    
    .navigation-bar-logo-li:hover,
    .navigation-bar-ul a:hover,
    .get-started-button:hover {
        color: #8a390b;
        opacity: 0.9;
    }

    .navigation-search-bar {
        position: absolute;
        width: 18px;
        height: 18px;
        left: 17.33%;
        top: 10%;
    }
}